---
    import '../../css/services.css'
    import Align from '../svg/services/Align.astro';

    const { isMain } = Astro.props;
---

<section class="align intro psai_align_style">
    <div class="ctnr">
        <div class="graphic">
            <Align/>
        </div>

        <div class="content slow_reveal">
            {isMain != "false" ? (
                <h1 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Align</span>
                    </b>
                    <br/>
                    Bridging AI Capabilities with Business Goals
                </h1>
            ) : (
                <h2 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Align</span>
                    </b>
                    <br/>
                    Bridging AI Capabilities with Business Goals
                </h2>
            )}
            
            <p>psAI Align ensures your AI initiatives are in perfect harmony with your strategic objectives, <b>enhancing operational efficiencies and driving tangible outcomes.</b> This service is about leveraging AI as a strategic asset.</p>

            <div class="flex cta_ctnr">
                <a href={isMain != "false" ? "#learn-more" : "/services/align#learn-more"} class="cta learn_more">Learn more</a>

                <button type="button" class="contact_bt">Contact us</button>
            </div>

            <!-- <p>psAI Define isn't merely an additional tool; it's the foundation for AI implementation. Here's why:</p>

            <ul class="cards">
                <li>
                    {isMain != "false" ? (
                        <h2>Custom AI Strategies</h2>
                    ) : (
                        <h3>Custom AI Strategies</h3>
                    )}

                    <p>Develop AI solutions that reflect your brand identity and business goals.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Predictable Outcomes</h2>
                    ) : (
                        <h3>Predictable Outcomes</h3>
                    )}
                    
                    <p>Ensure consistent, reliable results from your AI investments.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Brand Alignment</h2>
                    ) : (
                        <h3>Brand Alignment</h3>
                    )}
                    
                    <p>Align AI functionalities with your brand voice and customer expectations.</p>
                </li>
            </ul> -->
        </div>
    </div>
</section>