---
    import '../../css/services.css'
    import Define from '../../components/svg/services/Define.astro';

    const { isMain } = Astro.props;
---

<section class="define intro psai_define_style">
    <div class="ctnr">
        <div class="graphic">
            <Define/>
        </div>

        <div class="content slow_reveal">
            {isMain != "false" ? (
                <h1 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Define</span>
                    </b>
                    <br/>
                    Tailoring AI to Your Business Identity
                </h1>
            ) : (
                <h2 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Define</span>
                    </b>
                    <br/>
                    Tailoring AI to Your Business Identity
                </h2>
            )}
            
            <p>The key to unlocking the full potential of artificial intelligence within your organisation lies not just in the technology itself, but in <b>how you and your team communicate with it.</b> psAI Define is designed to bridge this gap, ensuring your team and AI are speaking the same language—literally.</p>

            <div class="flex cta_ctnr">
                <a href={isMain != "false" ? "#learn-more" : "/services/define#learn-more"} class="cta learn_more">Learn more</a>
                
                <button type="button" class="contact_bt">Contact us</button>
            </div>

            <!-- <p>psAI Define isn't merely an additional tool; it's the foundation for AI implementation. Here's why:</p>

            <ul class="cards">
                <li>
                    {isMain != "false" ? (
                        <h2>Custom AI Strategies</h2>
                    ) : (
                        <h3>Custom AI Strategies</h3>
                    )}

                    <p>Develop AI solutions that reflect your brand identity and business goals.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Predictable Outcomes</h2>
                    ) : (
                        <h3>Predictable Outcomes</h3>
                    )}
                    
                    <p>Ensure consistent, reliable results from your AI investments.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Brand Alignment</h2>
                    ) : (
                        <h3>Brand Alignment</h3>
                    )}
                    
                    <p>Align AI functionalities with your brand voice and customer expectations.</p>
                </li>
            </ul> -->
        </div>
    </div>
</section>