---
    import '../../css/services.css'
    import Run from '../svg/services/Run.astro';

    const { isMain } = Astro.props;
---

<section class="run intro">
    <div class="ctnr">
        <div class="graphic">
            <Run/>
        </div>

        <div class="content">
            {isMain != "false" ? (
                <h1 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Run</span>
                    </b>
                    <br/>
                    Enhancing Machine Learning Operations
                </h1>
            ) : (
                <h2 class="title">
                    <b>
                        <span class="psai">psAI</span>
                        <span class="name">Run</span>
                    </b>
                    <br/>
                    Enhancing Machine Learning Operations
                </h2>
            )}
            
            <p>For businesses leveraging <strong>Machine Learning (ML)</strong>, psAI Run offers a strategic approach to optimising ML costs and operational models, <b>aligning them with your business needs for maximum efficiency and cost-effectiveness.</b></p>

            <div class="flex cta_ctnr">
                {isMain != "false" ? (
                    <a href="#learn-more" class="cta learn_more">Learn more</a>
                ) : (
                    <a href="/services/run#learn-more" class="cta learn_more">Learn more</a>
                )}
                <button type="button" class="contact_bt">Connect with psAi</button>
            </div>

            <!-- <p>psAI Define isn't merely an additional tool; it's the foundation for AI implementation. Here's why:</p>

            <ul class="cards">
                <li>
                    {isMain != "false" ? (
                        <h2>Custom AI Strategies</h2>
                    ) : (
                        <h3>Custom AI Strategies</h3>
                    )}

                    <p>Develop AI solutions that reflect your brand identity and business goals.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Predictable Outcomes</h2>
                    ) : (
                        <h3>Predictable Outcomes</h3>
                    )}
                    
                    <p>Ensure consistent, reliable results from your AI investments.</p>
                </li>
                
                <li>
                    {isMain != "false" ? (
                        <h2>Brand Alignment</h2>
                    ) : (
                        <h3>Brand Alignment</h3>
                    )}
                    
                    <p>Align AI functionalities with your brand voice and customer expectations.</p>
                </li>
            </ul> -->
        </div>
    </div>
</section>