---
import '../../css/services.css'
import Layout from "../../layouts/Layout.astro";
import AlignSection from "../../components/services/AlignSection.astro";

import Worm from '../../components/svg/graphics/Worm.astro';
---

<Layout logoAnchorTheme="dark">
    <a href="/services/" class="back">Return to Services</a>
    
    <main>
        <AlignSection/>
        
        <section id="learn-more" class="default1 bullets">
            <div class="content">
                <h2>Leverage Requires Strategy<Worm/></h2>
    
                <p>The essence of aligning artificial intelligence within your organisation goes beyond mere integration; it's about ensuring that every AI initiative directly supports and enhances your strategic goals and operational efficiencies. psAI Align is crafted to bridge the gap between AI capabilities and business objectives, ensuring a seamless synergy that drives tangible outcomes.</p>
    
                <p>psAI Align goes beyond mere implementation to ensure that every AI project is a strategic asset driving your business forward. Here’s why:</p>
    
                <div class="graphic_cta">
                    <button type="button" class="main cta highlight contact_bt">Contact us</button>
                </div>

                <article class="details">
                    <p>Engagement Duration: <b>14 days</b></p>
                    <p>Price: <b>$30,000</b></p>
                </article>
            </div>
    
            <ul class="list">
                <li class="item">
                    <h3>Strategic AI Integration</h3>
    
                    <p>Imagine AI as a strategic partner, fully attuned to your business goals and ready to contribute to your success. psAI Align ensures your AI initiatives are perfectly synced with your strategic objectives, turning technology into a competitive advantage.</p>
                </li>
    
                <li class="item">
                    <h3>Business Goals Alignment</h3>
    
                    <p>Misalignments between technology and business objectives can lead to missed opportunities and wasted resources. psAI Align focuses on aligning AI projects with your business goals, ensuring every initiative contributes positively to your bottom line.</p>
                </li>
    
                <li class="item">
                    <h3>Optimised Operational Efficiency</h3>
    
                    <p>Through strategic alignment, psAI Align not only enhances your AI performance but also optimises your operational workflows, making your business more agile, responsive, and efficient.</p>
                </li>
    
                <li class="item">
                    <h3>Enhanced Decision-Making</h3>
    
                    <p>With AI initiatives aligned with strategic business goals, psAI Align enhances your decision-making process, providing insights and analyses that are directly relevant to your business outcomes.</p>
                </li>
    
                <li class="item">
                    <h3>Value-Driven AI Projects</h3>
    
                    <p>Every AI project under psAI Align is evaluated and developed with a clear focus on delivering value, ensuring a direct correlation between your AI investments and business growth.</p>
                </li>
            </ul>
        </section>
    </main>
</Layout>

<style>
    body::before {
        background-image: url(/svg/light-noise-bg.svg), linear-gradient(150deg, #f6edff, #dcb9ff 38%);
        background-size: 26rem, cover;
    }

    .details {
        border-color: var(--light);
        box-shadow: 0 2rem 2rem -1.5rem var(--secondary-2);
    }

    .details p b {
        color: inherit;
        font-weight: 700;
    }
</style>