---
import '../../css/services.css'
import Layout from "../../layouts/Layout.astro";
import DefineSection from "../../components/services/DefineSection.astro";
---

<Layout>
    <DefineSection/>

    <section>
        <div class="ctnr">
            <div class="content">
                <h2>Transforming Your Communication</h2>

                <p>The key to unlocking the full potential of artificial intelligence within your organisation lies not just in the technology itself, but in how you and your team communicate with it. psAI Define is designed to bridge this gap, ensuring your team and AI are speaking the same language—literally.</p>
            </div>
        </div>
    </section>
</Layout>