---
import '../../css/services.css'
import Layout from "../../layouts/Layout.astro";
import FlowSection from "../../components/services/FlowSection.astro";
---

<Layout logoAnchorTheme="dark">
    <main>
        <FlowSection/>
    </main>
</Layout>