---

import Layout from '../../layouts/Layout.astro';

import DefineSection from '../../components/services/DefineSection.astro'
import AlignSection from '../../components/services/AlignSection.astro';
import FlowSection from '../../components/services/FlowSection.astro';
import RunSection from '../../components/services/RunSection.astro';

---

<Layout logoAnchorTheme="light">
    <main>
        <div class="sec_area">
            <DefineSection isMain="false"/>
        </div>
        <AlignSection isMain="false"/>
        <FlowSection isMain="false"/>
        <RunSection isMain="false"/>
    </main>
</Layout>