---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const report = await getCollection("reports");
    return report.map((report) => ({
        params: { slug: report.slug },
        props: report,
    }));
}

import '../../css/reports.css'

type Props = CollectionEntry<"reports">;

const report = Astro.props;
const { Content } = await report.render();

import { Schema } from "astro-seo-schema"

const reports = (await getCollection('reports')).sort((a, b) => {
    if (a.data.reportNumber !== undefined && b.data.reportNumber !== undefined) {
        return b.data.reportNumber - a.data.reportNumber;
    } else if (a.data.reportNumber !== undefined) {
        return 1;
    } else if (b.data.reportNumber !== undefined) {
        return -1;
    } else {
        return b.data.heading.localeCompare(a.data.heading);
    }
});

---

<Layout title={`${report.data.heading} | psAI report`}>
	<BackBt url={`/reports/`} label="Back to reports"/>

    <main class="report_page">
        {report.data.heroImage ? (
            <img class="cover reveal" src={report.data.heroImage} alt={`${report.data.heading} cover image`} loading="lazy"/>
        ) : ""}
        <section class="centered padding reveal">
            <div class="ctnr">
                <h1>{report.data.heading}</h1>
                
                <article>
                    <Content />
                </article>
            </div>
        </section>
    </main>
</Layout>