---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import BackBt from "../../components/BackBt.astro";

export async function getStaticPaths() {
    const podcast = await getCollection("podcast");
    return podcast.map((podcast) => ({
        params: { slug: podcast.slug },
        props: podcast,
    }));
}

import '../../css/podcast.css'

type Props = CollectionEntry<"podcast">;

const episode = Astro.props;
const { Content } = await episode.render();

import { Schema } from "astro-seo-schema"
import NewsletterForm from "../../components/NewsletterForm.astro";

const episodes = (await getCollection('podcast')).sort((a, b) => {
    if (a.data.episodeNumber !== undefined && b.data.episodeNumber !== undefined) {
        return b.data.episodeNumber - a.data.episodeNumber;
    } else if (a.data.episodeNumber !== undefined) {
        return 1;
    } else if (b.data.episodeNumber !== undefined) {
        return -1;
    } else {
        return b.data.title.localeCompare(a.data.title);
    }
});

---

<Layout title={`${episode.data.title} | psAI Podcast`}>
	<BackBt url={`/podcast/1`} label="Return"/>

    <main class="ep_page">
    
        <div class="content_ctnr">     
            <div class="video_ctnr" set:html={episode.data.embedURL}></div>

            <h1>{episode.data.title}</h1>

            <NewsletterForm/>
            
            <a href="/podcast/1" class="cta main">Check all episodes</a>
        </div>
    </main>
</Layout>