---

const { url, label } = Astro.props;

---


<a class="back" href={url}>
    <span class="icon"></span>
    <span>{label}</span>
</a>

<style>

    .back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        width: fit-content;
        z-index: 2;
        background-color: var(--light-d);
        padding: clamp(1rem, 3vw, 1.3rem) 2rem clamp(1rem, 3vw, 1.3rem) var(--base-width-overflow);
        font-size: clamp(1.3rem, 4vw, 1.6rem);
        font-weight: 500;
        color: var(--primary-d);
        border-radius: 0 0 0.4rem 0;
        transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        border-right: 0.2rem solid var(--light-a);
        border-bottom: 0.2rem solid var(--light-a);
        box-shadow: 2rem 1rem 2.5rem -1.2rem var(--light-b);
    }
    
    .back:hover {
        background-color: var(--light);
        transition: background-color 0s ease;
        -webkit-transition: background-color 0s ease;
        -moz-transition: background-color 0s ease;
        -ms-transition: background-color 0s ease;
        -o-transition: background-color 0s ease;
    }

    .back span {

    }

    .back .icon {
        width: 0.4rem;
        height: 0.4rem;
        transform: rotate(45deg);
        border-left: 0.3rem solid;
        border-bottom: 0.3rem solid;
        border-color: var(--light-b);
    }


    @media screen and (min-width:1000px) {
        .back {
            position: absolute;
        }
    }
</style>