---
    import '../css/contact-box.css'
    import ContactForm from './ContactForm.astro';
---

<section class="contact">
    <h3>Contact us</h3>
    <ContactForm/>
</section>

<div class="exit_area" role="button" title="close"></div>