---
    import '../css/forms.css'
---

<form name="contact" class="contact_form" method="POST" data-netlify="true">
    <div class="flex">
        <p>
            <label>First name <input type="text" name="name" required/></label>
        </p>

        <p>
            <label>Last name <input type="text" name="name" required/></label>
        </p>
    </div>

    <p>
        <label>Email <input type="email" name="email" required/></label>
    </p>

    <p>
        <label>Message <textarea name="message" required></textarea></label>
    </p>

    <p>
        <button class="main cta" type="submit" aria-label="Submit contact form">Submit
        </button>
                
        <noscript>You need to enable JavaScript on your browser to submit emails.</noscript>
    </p>
</form>

<script>
    import "../js/form.js";
</script>