---
    import '../css/contact-box.css'
    import ContactForm from './ContactForm.astro';
---

<section class="contact">
    <ContactForm/>
</section>

<div class="exit_area" role="button" title="close"></div>

<script is:inline>

    const contactBox = document.querySelector('section.contact')
    const contactBt = document.querySelector('.contact_bt')
    const exitArea = document.querySelector('.exit_area')

    let showingContactBox = false;

    function toggleContactBox() {
        if(showingContactBox == false) {
            contactBox.classList.add('show')
            showingContactBox = true;
        } else {
            contactBox.classList.remove('show')
            showingContactBox = false;
        }
    }

    contactBt.addEventListener('click', toggleContactBox)

    exitArea.addEventListener('click', toggleContactBox)
</script>