---
    import '../css/footer.css'

    import { Image, getImage } from 'astro:assets';
	import Logo from '../components/svg/Logo.astro';

    import LogoText from './svg/LogoText.astro';

	import Stripe from './Stripe.astro';

    import Worm from './svg/graphics/Worm.astro';
---

<footer>
    <div class="width1">
        <div class="about">
            <div class="logo graphic">
                <Logo/>
            </div>
    
            <p><b>AI integration through a blend of agility, foresight, and innovation.</b> We navigate the complexities of tomorrow, turning certain uncertainties into opportunities.</p>

            <p><b>Don't just keep pace with the future – define it.</b></p>
    
            <p>Copyright © 2023 psAI Consulting</p>
        </div>
    
    
        <nav>
            <a href="/#home">Home <Worm/></a>
        
            <a href="/#the-problem">The Problem <Worm/></a>
        
            <a href="/#why-psai">Why psAI <Worm/></a>
        
            <a href="/#the-team">The Team <Worm/></a>
        
            <a href="/#deliverables">Deliverables <Worm/></a>
        
            <button type="button" class="contact_bt">Contact</button>
        </nav>

        <!-- <div class="contact"></div> -->
    </div>
</footer>

<Stripe type="footer"/>