---
    import '../css/footer.css'

    import { Image, getImage } from 'astro:assets';
	import Logo from '../components/svg/Logo.astro';

    import LogoText from './svg/LogoText.astro';

	import Stripe from './Stripe.astro';

    import Worm from './svg/graphics/Worm.astro';
	import Define from '../components/svg/services/Define.astro'
	import Align from '../components/svg/services/Align.astro'
	import Flow from '../components/svg/services/Flow.astro'
	import Run from '../components/svg/services/Run.astro'
---

<footer>
    <div class="width1">
        <div class="about">
            <div class="logo graphic">
                <Logo/>
            </div>
    
            <p class="tagline">Transform tomorrow’s uncertainties into identifiable opportunities.</p>
    
            <p class="legal">Copyright © 2024 psAI Consulting</p>
        </div>
    
        <nav>
            <a href="/#home">Home <Worm/></a>
        
            <!-- <a href="/#the-ai-challenge">The Problem <Worm/></a> -->

            <a href="/services/" class="services">Services</a>

            <div class="subnav">
                <a href="/services/define">psAI Define</a>
    
                <a href="/services/align">psAI Align</a>
    
                <a href="/services/flow">psAI Flow</a>
    
                <a href="/services/run">psAI Run</a>
            </div>
        
            <a href="/#why-psai">Why psAI <Worm/></a>
        
            <!-- <a href="/#the-team">The Team <Worm/></a> -->
        
            <a href="/#the-psai-edge">The psAI edge <Worm/></a>
        
            <button type="button" class="contact_bt">Contact us</button>
        </nav>

        <!-- <div class="contact"></div> -->
    </div>
</footer>

<Stripe type="footer"/>