---
    import '../css/footer.css'

    import { Image, getImage } from 'astro:assets';
	import Logo from '../components/svg/Logo.astro';

    import LogoText from './svg/LogoText.astro';

	import Stripe from './Stripe.astro';

    import Worm from './svg/graphics/Worm.astro';
---

<footer>
    <div class="width1">
        <div class="about">
            <div class="logo graphic">
                <Logo/>
            </div>
    
            <p class="tagline">Transform tomorrow’s uncertainties into identifiable opportunities.</p>
    
            <p class="legal">Copyright © 2024 psAI Consulting</p>
        </div>
    
    
        <nav>
            <a href="/#home">Home <Worm/></a>
        
            <a href="/#the-ai-challenge">The Problem <Worm/></a>
        
            <a href="/#why-psai">Why psAI <Worm/></a>
        
            <a href="/#the-team">The Team <Worm/></a>
        
            <a href="/#deliverables">Deliverables <Worm/></a>
        
            <button type="button" class="contact_bt">Contact us</button>
        </nav>

        <!-- <div class="contact"></div> -->
    </div>
</footer>

<Stripe type="footer"/>