---
    import '../css/footer.css'

    import { Image, getImage } from 'astro:assets';
	import Logo from '../components/svg/Logo.astro';

    import LogoText from './svg/LogoText.astro';

	import Stripe from './Stripe.astro';

    import Worm from './svg/graphics/Worm.astro';
	import Define from '../components/svg/services/Define.astro'
	import Align from '../components/svg/services/Align.astro'
	import Flow from '../components/svg/services/Flow.astro'
	import Run from '../components/svg/services/Run.astro'
---

<footer>
    <div class="width1">
        <div class="about">
            <div class="logo graphic">
                <Logo/>
            </div>
    
            <p class="tagline">Transform tomorrow’s uncertainties into identifiable opportunities.</p>
    
            <p class="legal">Copyright © 2024 psAI Consulting</p>
        </div>

        <div class="services">
            <p>Our services</p>

            <div class="flex">
                <a href="/services/define">
                    <Define/>
                
                    <div class="content">
                        <span class="title">psAI Define</span>

                        <span class="def">Tailoring AI to Your Business Identity</span>
                    </div>
                </a>
    
                <a href="/services/align">
                    <Align/>

                    <div class="content">
                        <span class="title">psAI Align</span>

                        <span class="def">Bridging AI Capabilities with Business Goals</span>
                    </div>
                </a>
    
                <a href="/services/flow">
                    <Flow/>
			
                    <div class="content">
                        <span class="title">psAI Flow</span>

                        <span class="def">Optimising Data for AI Success</span>
                    </div>
                </a>
    
                <a href="/services/run">
                    <Run/>
			
                    <div class="content">
                        <span class="title">psAI Run</span>

                        <span class="def">Enhancing Machine Learning Operations</span>
                    </div>
                </a>
            </div>
        </div>
    
        <nav>
            <a href="/#home">Home <Worm/></a>
        
            <!-- <a href="/#the-ai-challenge">The Problem <Worm/></a> -->
        
            <a href="/#why-psai">Why psAI <Worm/></a>
        
            <!-- <a href="/#the-team">The Team <Worm/></a> -->
        
            <a href="/#the-psai-edge">The psAI edge <Worm/></a>
        
            <button type="button" class="contact_bt">Contact us</button>
        </nav>

        <!-- <div class="contact"></div> -->
    </div>
</footer>

<Stripe type="footer"/>