---
	import { Image } from 'astro:assets';

    import '../css/header.css'

	import LogoText from './svg/LogoText.astro';

	import InvertedCorner from '../components/svg/InvertedCorner.astro'
---

<div class="stripe">
	<div class="ctnr width1">
		<span class="mobile_hidden">psAI Consulting® All Right Reserved.</span>
		<a href="mailto:contact@psai.consulting" aria-label="email at contact@psai.consulting">contact@psai.consulting</a>
	</div>
	<InvertedCorner/>
	<InvertedCorner/>
</div>

<header>
	<div class="ctnr width1">
		<a href="#home" class="logo_anchor">
			<LogoText/>
		</a>
	</div>
</header>

<button class="hambt" type="button" aria-label="Open navigation menu">
	<svg id="Camada_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.68 73.05"><defs><style>.hambt-svg-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:6px;}</style></defs><path class="hambt-svg-1" d="m70.01,8.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m87.34,37.18h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m104.68,64.47h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/></svg>
</button>

<nav class="header_nav">
	<a href="/#home">Home</a>

	<a href="/#the-problem">The Problem</a>

	<a href="/#why-psai">Why psAI</a>

	<a href="/#the-team">The Team</a>

	<a href="/#deliverables">Deliverables</a>

	<button type="button" class="contact_bt">Contact</button>
</nav>

<script is:inline>
    const header = document.querySelector('header')
    const hamBt = document.querySelector(".hambt");
    const nav = document.querySelector(".header_nav");
    const navBts = document.querySelectorAll(".header_nav a, .header_nav button");

    let showingNav = false;

    function toggleNav() {
        if (showingNav == false) {
			hamBt.classList.add('active')
            nav.classList.add("show");

            showingNav = true;
        } else {
			hamBt.classList.remove('active')
            nav.classList.remove("show");

            showingNav = false;
        }
    }

	hamBt.addEventListener("click", toggleNav);

		for (let i = 0; i < navBts.length; i++) {
			navBts[i].addEventListener("click", function() {
				toggleNav()
		
				if(showingContactBox == true) {
					toggleContactBox()
				}
			});
		}

		window.addEventListener("scroll", function (e) {
			if (showingNav == true) {
				toggleNav();
			}
		});
</script>