---
	import { Image } from 'astro:assets';

	const { logoAnchorTheme } = Astro.props;

    import '../css/header.css'

	import LogoText from './svg/LogoText.astro';
	import Stripe from './Stripe.astro';

	import DefineSVG from '../components/svg/services/DefineSVG.astro'
	// import AlignSVG from '../components/svg/services/AlignSVG.astro'
	import FlowSVG from '../components/svg/services/FlowSVG.astro'
	import RunSVG from '../components/svg/services/RunSVG.astro'
	import Worm from './svg/graphics/Worm.astro';
	
	import ContactBox from './ContactBox.astro';
---

<Stripe type="header"/>

<a href="/#home" class={`logo_anchor ${logoAnchorTheme ? logoAnchorTheme : ""}`} aria-label="Return to home page">
	<LogoText/>
</a>

<button class="hambt" type="button" aria-label="Open navigation menu">
	<svg id="Camada_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.68 73.05"><defs><style>.hambt-svg-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style></defs><path class="hambt-svg-1" d="m70.01,8.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m87.34,37.18h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m104.68,64.47h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/></svg>
</button>

<header>
	<a href="/#home"><span>Home</span></a>

	<hr>
	
	<div class="superset">
		<a href="/services/"><span>Services</span> <Worm/></a>
	
		<div class="subnav">
			<div class="ctnr">
				<div class="transition_ctnr">
					<a href="/services/define" class="psai_define_style">
						<span class="flex">
							<span class="flex">
								<DefineSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Define</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Tailoring AI to Your Business Identity</p>
	
								<p>psAI Define is about crafting AI solutions that <b>authentically represent your business and brand.</b> This service ensures your AI initiatives deliver predictable and meaningful outcomes, embodying your company's values and objectives.</p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>

				<!-- <div class="transition_ctnr">
					<a href="/services/align" class="psai_align_style">
						<span class="flex">
							<span class="flex">
								<AlignSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Align</span>
								</div>
							</span>

							<span class="text">
								<p class="def">Bridging AI Capabilities with Business Goals</p>
								
								<p>psAI Align ensures your AI initiatives are in <b>perfect harmony with your strategic objectives, enhancing operational efficiencies and driving tangible outcomes.</b> This service is about leveraging AI as a strategic asset.</p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div> -->

				<div class="transition_ctnr">
					<a href="/services/flow" class="psai_flow_style">
						<span class="flex">
							<span class="flex">
								<FlowSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Flow</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Optimising Data for AI Success</p>
								
								<p><b>Data is the foundation of effective AI.</b> psAI Flow focuses on refining your data management practices for seamless AI integration, turning data into a strategic asset for growth and innovation.</p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>

				<div class="transition_ctnr">
					<a href="/services/run" class="psai_run_style">
						<span class="flex">
							<span class="flex">
								<RunSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Run</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Enhancing Machine Learning Operations</p>
								
								<p>For businesses leveraging Machine Learning (ML), <b>psAI Run offers a strategic approach to optimising ML costs and operational models</b>, aligning them with your business needs for maximum efficiency and cost-effectiveness.</p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<hr>

	<a href="/#why-psai"><span>Why psAI</span></a>
	
	<hr>

	<a href="/#the-psai-edge"><span>The psAI Edge</span></a>
	
	<hr>

	<a href="/reports/" type="button">Reports</a>
	
	<hr>

	<a href="/podcast"><span>Podcast</span></a>
	
	<hr>

	<button type="button" class="contact_bt">Contact us</button>
</header>

<ContactBox/>
    
<script>
	import '../js/header.js'
</script>