---
	import { Image } from 'astro:assets';

    import '../css/header.css'

	import LogoText from './svg/LogoText.astro';
	import Stripe from './Stripe.astro';

	import Define from '../components/svg/services/Define.astro'
	import Align from '../components/svg/services/Align.astro'
	import Flow from '../components/svg/services/Flow.astro'
	import Run from '../components/svg/services/Run.astro'
import ContactBox from './ContactBox.astro';
---

<Stripe type="header"/>

<header>
	<a href="#home" class="logo_anchor" aria-label="Return to home page">
		<LogoText/>
	</a>
</header>

<button class="hambt" type="button" aria-label="Open navigation menu">
	<svg id="Camada_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.68 73.05"><defs><style>.hambt-svg-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style></defs><path class="hambt-svg-1" d="m70.01,8.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m87.34,37.18h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m104.68,64.47h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/></svg>
</button>

<nav class="header_nav">
	<a href="/#home">Home</a>

	<hr>
	
	<div class="superset">
		<a href="/services/">Services</a>
	
		<div class="subnav">
			<div class="ctnr">
				<a href="#">
					<span class="flex">
						<span class="flex">
							<Define/>
		
							<div class="content">
								<span class="title">psAI Define</span>
								<span class="def">Tailoring AI to Your Business Identity</span>
							</div>
						</span>
	
						<span class="text">psAI Define is about crafting AI solutions that <b>authentically represent your business and brand.</b> This service ensures your AI initiatives deliver predictable and meaningful outcomes, embodying your company's values and objectives.</span>
					</span>

					<span class="learn_more">Learn more</span>
				</a>

				<a href="#">
					<span class="flex">
						<span class="flex">
							<Align/>
		
							<div class="content">
								<span class="title">psAI Align</span>
								<span class="def">Bridging AI Capabilities with Business Goals</span>
							</div>
						</span>
	
						<span class="text">psAI Align ensures your AI initiatives are in <b>perfect harmony with your strategic objectives, enhancing operational efficiencies and driving tangible outcomes.</b> This service is about leveraging AI as a strategic asset.</span>
					</span>

					<span class="learn_more">Learn more</span>
				</a>

				<a href="#">
					<span class="flex">
						<span class="flex">
							<Flow/>
		
							<div class="content">
								<span class="title">psAI Flow</span>
								<span class="def">Optimising Data for AI Success</span>
							</div>
						</span>
	
						<span class="text"><b>Data is the foundation of effective AI.</b> psAI Flow focuses on refining your data management practices for seamless AI integration, turning data into a strategic asset for growth and innovation.</span>
					</span>

					<span class="learn_more">Learn more</span>
				</a>

				<a href="#">
					<span class="flex">
						<span class="flex">
							<Run/>
		
							<div class="content">
								<span class="title">psAI Run</span>
								<span class="def">Enhancing Machine Learning Operations</span>
							</div>
						</span>
	
						<span class="text">For businesses leveraging Machine Learning (ML), <b>psAI Run offers a strategic approach to optimising ML costs and operational models</b>, aligning them with your business needs for maximum efficiency and cost-effectiveness.</span>
					</span>

					<span class="learn_more">Learn more</span>
				</a>
			</div>
		</div>
	</div>
	
	<hr>

	<a href="/#the-ai-challenge">The Problem</a>
	
	<hr>

	<a href="/#why-psai">Why psAI</a>
	
	<hr>

	<a href="/#the-team">The Team</a>
	
	<hr>

	<a href="/#deliverables">Deliverables</a>

	<button type="button" class="contact_bt">Connect with us</button>
</nav>


<ContactBox/>
    
<script>
	import '../js/header.js'
</script>