---
	import { Image } from 'astro:assets';

	const { logoAnchorTheme } = Astro.props;

    import '../css/header.css'

	import LogoGroups from './svg/LogoGroups.astro';
	import Stripe from './Stripe.astro';

	import DefineSVG from '../components/svg/services/DefineSVG.astro'
	// import AlignSVG from '../components/svg/services/AlignSVG.astro'
	import FlowSVG from '../components/svg/services/FlowSVG.astro'
	import RunSVG from '../components/svg/services/RunSVG.astro'
	import Worm from './svg/graphics/Worm.astro';

	import PsaiGroups from '../components/PsaiGroups.astro'
---

<Stripe type="header"/>

<PsaiGroups logoAnchorTheme={logoAnchorTheme}/>

<button class="hambt" type="button" aria-label="Open navigation menu">
	<svg id="Camada_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.68 73.05"><defs><style>.hambt-svg-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:5px;}</style></defs><path class="hambt-svg-1" d="m70.01,8.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m87.34,37.18h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/><path class="hambt-svg-1" d="m104.68,64.47h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58h0c0,3.08-2.5,5.58-5.58,5.58h0c-3.08,0-5.58-2.5-5.58-5.58h0c0-3.08-2.5-5.58-5.58-5.58h0c-3.08,0-5.58,2.5-5.58,5.58"/></svg>
</button>

<header>
	<a href="/#home"><span>Home</span></a>

	<hr>
	
	<div class="superset">
		<a href="/services/"><span>Services</span> <Worm/></a>
	
		<div class="subnav">
			<div class="ctnr">
				<div class="transition_ctnr">
					<a href="/services/define" class="psai_define_style">
						<span class="flex">
							<span class="flex">
								<DefineSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Define</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Communication and Understanding</p>
	
								<p>Establishes efficient communication between human teams and AI systems through a Unified Organisational Language, enhancing mutual understanding and collaboration.</p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>

				<div class="transition_ctnr">
					<a href="/services/flow" class="psai_flow_style">
						<span class="flex">
							<span class="flex">
								<FlowSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Flow</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Data Management and Optimisation</p>
								
								<p><b>Optimises the data ecosystem</b> to ensure seamless, efficient transfer of data between sources and AI infrastructure, <b>enabling effective AI integration.</b></p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>

				<div class="transition_ctnr">
					<a href="/services/run" class="psai_run_style">
						<span class="flex">
							<span class="flex">
								<RunSVG/>
			
								<div class="content">
									<span class="title"><sup>psAI</sup> Run</span>
								</div>
							</span>
		
							<span class="text">
								<p class="def">Technology Harmonisation</p>
								
								<p>Modernises and harmonises the technology stack to be cohesive and AI-ready, facilitating the <b>seamless integration of advanced AI capabilities.</b></p>
							</span>
						</span>
	
						<span class="learn_more">Learn more</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<hr>

	<a href="/#why-psai"><span>Why psAI</span></a>
	
	<hr>

	<a href="/#the-psai-edge"><span>The psAI Edge</span></a>
	
	<hr>

	<a href="/reports/" type="button">Reports</a>
	
	<hr>

	<a href="/podcast"><span>Podcast</span></a>
	
	<hr>

	<button type="button" class="contact_bt">Contact us</button>
</header>
    
<script>
	import '../js/header.js'
</script>