---
    import Mail from "./svg/Mail.astro";

    import Graphic04 from "./svg/graphics/Graphic04.astro";
---

<div class="graphic behing_bubble">
    <Graphic04/>
</div>

<button type="button" class="mail_bubble contact_bt" aria-label="contact us" title="contact us">
    <Mail/>
</button>