---

---



<div class="subscribe" id="subscribe">
    <form name="contact" method="POST" data-netlify="true">
        <p class="field">
            <label><span>Stay updated</span><input type="email" name="email" required placeholder="Your email"/></label>
        </p>
    
        <p>
            <button class="cta" type="submit" aria-label="Submit contact form">Submit
            </button>
                    
            <noscript>You need to enable JavaScript on your browser to submit emails.</noscript>
        </p>
    </form>
    
    <script>
        import "../js/form.js";
    </script>
</div>