---
    import InvertedCorner from '../components/svg/InvertedCorner.astro'

    import '../css/stripe.css'

    const { type } = Astro.props;
---

<div class={type == 'header' ? 'stripe header' : 'stripe footer'}>
	<div class="ctnr">
		<span class="">psAI Consulting® All Right Reserved.</span>
		<a href="mailto:contact@psai.consulting" aria-label="email at contact@psai.consulting">contact@psai.consulting</a>
    </div>
    
	<InvertedCorner/>
	<InvertedCorner/>
</div>