---
    import InvertedCorner from '../components/svg/InvertedCorner.astro'

    import '../css/stripe.css'

    const { type } = Astro.props;
---

<div class={type == 'header' ? 'stripe header' : 'stripe footer'}>
	<div class="ctnr">
		<span>psAI Consulting® All Right Reserved.</span>

		<a href="mailto:contact@psai.consulting" aria-label="email at contact@psai.consulting">contact@psai.consulting</a>

		<!-- <div class="psai_group_nav mobile_hidden">
			<p>Part of psAI Group:</p>

			<div class="flex">
				<a href="#">Consulting</a>
				<a href="#">Dev</a>
				<a href="#">Labs</a>
				<a href="#">Events</a>
				<a href="#">Foundation</a>
				<a href="#">Education</a>
			</div>
		</div> -->
    </div>
    
	<InvertedCorner/>
	<InvertedCorner/>
</div>