section.contact {
    position: fixed;
    top: calc(40% + 12vh);
    z-index: 8;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-50%);
    width: fit-content;
    background-color: var(--light-1);
    color: var(--dark);
    padding: clamp(3rem, 5vw, 4rem);
    box-sizing: border-box;
    max-width: var(--width-1);
    max-height: 84vh;
    overflow: auto;
    /*display: none;
    */margin-bottom: unset;
    border: 0.1rem solid var(--light);
    background-color: rgb(214 219 255 / 91%);
    /* backdrop-filter: blur(0.6rem); */
    border-radius: clamp(2rem, 5vw, 3rem);
    -webkit-border-radius: clamp(2rem, 5vw, 3rem);
    -moz-border-radius: clamp(2rem, 5vw, 3rem);
    -ms-border-radius: clamp(2rem, 5vw, 3rem);
    -o-border-radius: clamp(2rem, 5vw, 3rem);
}

.header_nav, section.contact {
    transform: translateY(calc(-50% + 1rem)) scale(0.9);
    -webkit-transform: translateY(calc(-50% + 1rem)) scale(0.9);
    -moz-transform: translateY(calc(-50% + 1rem)) scale(0.9);
    -ms-transform: translateY(calc(-50% + 1rem)) scale(0.9);
    -o-transform: translateY(calc(-50% + 1rem)) scale(0.9);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -webkit-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -moz-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -ms-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    -o-transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.header_nav.show, section.contact.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
    -webkit-transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
    -moz-transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
    -ms-transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
    -o-transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
}

section.contact h3 {
    margin-inline: auto;
    font-size: clamp(3.5rem, 5vw, 4rem);
    color: var(--secondary-1);
    margin-bottom: 0.4rem;
    font-weight: 700;
}

section.contact h3 + a {
    text-align: center;
    margin-inline: auto;
    display: block;
    margin-bottom: 2rem;
    font-size: clamp(1.2rem, 3.5vw, 1.4rem);
    color: var(--secondary-2);
    background-color: var(--light);
    border-radius: 2rem;
    width: fit-content;
    padding: 0.2rem 1rem;
}