footer {
    margin: 20rem clamp(1rem, 3vw, 4rem) clamp(1rem, 3vw, 4rem);
    padding: 6rem 2rem;
    background-color: rgb(214 219 255 / 25%);
    backdrop-filter: blur(0.4rem);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-sizing: border-box;
}

footer .width1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .logo {
    width: clamp(5rem, 50vw, 24rem);
    display: block;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}

footer .about {
    max-width: 91%;
    font-size: clamp(0.7rem, 4vw, 1.8rem);
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

footer .about b, footer .about strong {
    font-weight: 600;
    color: var(--secondary-1);
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: clamp(1.6rem, 5vw, 1.8rem);
    font-weight: 500;
    min-width: 20rem;
    color: var(--secondary-1);
}

footer nav a {
    padding-block: 0.6rem;
}


@media screen and (min-width:850px) {

    footer .width1 {
        justify-content: space-between;
    }

    footer .logo {
        margin-top: -10%;
        transform: translateX(-29%);
        -webkit-transform: translateX(-29%);
        -moz-transform: translateX(-29%);
        -ms-transform: translateX(-29%);
        -o-transform: translateX(-29%);
    }

    footer .about {
        text-align: left;
        align-items: baseline;
        width: clamp(5rem, 35vw, 45rem);
    }

    footer nav {
        text-align: right;
        align-items: end;
    }
}