header {
    position: absolute;
    /* width: 100%; */
    height: var(--header-height);
    color: var(--light);
    z-index: 7;
    left: var(--corner-width1);
    top: 4rem;
    display: flex;
    align-items: center;
}

header .logo_anchor {
    display: block;
    width: clamp(9rem, 21vmin, 11rem);
}

header .logo_anchor svg {

}

.header_nav {
    position: fixed;
    width: var(--width-1);
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    left: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214 219 255 / 85%);
    backdrop-filter: blur(0.8rem);
    padding: 4rem 2rem 3rem;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 5.2vw, 2.1rem);
    font-weight: 600;
    max-height: 75vh;
    overflow-y: auto;
    z-index: 9;
    color: var(--secondary-1);
    border-radius: clamp(2rem, 3vw, 5rem);
    border: 0.1rem solid var(--light-1);
    text-align: center;
}

.header_nav .contact_bt {
    width: fit-content;
    margin-inline: auto;
    background-color: var(--light);
    padding: 0.8rem 3rem;
    border-radius: 3rem;
    margin-top: 0.8rem;
    box-shadow: inset -1rem -1rem 1.5rem -1.2rem var(--secondary), inset 1rem 1rem 1.5rem -1.2rem var(--primary), 0 0rem 3.4rem -1.4rem var(--secondary-2);
    font-weight: 550;
    border: 0.1rem solid var(--light-1);
    position: sticky;
    bottom: 0;
}

.header_nav a, .header_nav button {
    padding-block: 1.3rem;
}

.header_nav > hr {
    min-height: 0.1rem;
    width: 2rem;
    background-color: var(--light);
}

nav.show {
    opacity: 1;
    visibility: visible;
}

.hambt {
    position: sticky;
    top: 1rem;
    right: var(--corner-width1);
    height: var(--header-height);
    z-index: 8;
    width: fit-content;
    margin-left: auto;
    display: block;
    margin-top: 1rem;
}

.hambt.active {
    color: var(--light);
}

header .hambt path {
    transition: stroke 0.2s ease;
    -webkit-transition: stroke 0.2s ease;
    -moz-transition: stroke 0.2s ease;
    -ms-transition: stroke 0.2s ease;
    -o-transition: stroke 0.2s ease;
}

.hambt > .ctnr {
    width: clamp(2.5rem,8vw,4rem);
    height: clamp(2rem,7vw,3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.hambt svg {
    height: 3.5rem;
}

.superset {
    display: flex;
    flex-direction: column;
    padding-block: 1.3rem;
}

.subnav {
    width: clamp(10rem, 60vw, 30rem);
}

.subnav .ctnr {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vw, 2rem);
}

.header_nav .subnav a {
    text-align: left;
    padding: clamp(1.2rem, 3.5vw, 3rem) clamp(0.2rem, 4vw, 3rem) clamp(1.2rem, 3.5vw, 3rem) clamp(0.2rem, 4vw, 4rem);
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: clamp(0.2rem, 4vw, 2rem);
    background-color: var(--light-1);
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    background-image: linear-gradient(140deg, var(--light), transparent);
}

.header_nav .subnav a:hover {
    background-color: var(--light);
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
}

.header_nav .subnav a > .flex {
    gap: clamp(0.2rem, 4vw, 2rem);
    flex-direction: column;
}

.header_nav .subnav a .flex .flex {
    gap: clamp(0.2rem, 4vw, 2rem);
    flex-flow: row wrap;
}

.header_nav .subnav a .text {
    display: none;
    font-size: clamp(1rem, 3.5vw, 1.6rem);
    line-height: 1.4;
    font-weight: 400;
}

.header_nav .subnav a .text b, .header_nav .subnav a .text strong {
    font-weight: 600;
}

.subnav a .learn_more {
    display: none;
    font-size: clamp(1rem, 2vw, 1.6rem);
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--light);
    border-radius: 0.4rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
}

.subnav a .learn_more:hover {
    background-color: var(--light-1);
    color: var(--secondary-3);
    transition: background-color 0.1s ease, color 0.1s ease;
    -webkit-transition: background-color 0.1s ease, color 0.1s ease;
    -moz-transition: background-color 0.1s ease, color 0.1s ease;
    -ms-transition: background-color 0.1s ease, color 0.1s ease;
    -o-transition: background-color 0.1s ease, color 0.1s ease;
}

.subnav a:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--light);
}

.subnav a .content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex: 1;
    min-width: 12rem;
}

.subnav a svg {
    width: clamp(4rem, 11vw, 7rem);
    height: clamp(4rem, 15vw, 7rem);
    box-sizing: border-box;
    border-radius: 0.7rem;
}

.subnav a svg path {
    /* stroke: var(--secondary); */
    stroke-width: 4px;
}

.subnav a .title {
    font-weight: 600;
    font-size: clamp(1.8rem, 5.5vw, 2.5rem);
}

.subnav a .def {
    font-size: clamp(1.1rem, 3.5vw, 1.5rem);
    color: var(--secondary-3);
    font-weight: 400;
    max-width: 22rem;
}



























@media screen and (min-width: 1150px) {

    header {
        height: 6rem;
        position: absolute;
        width: 5vw;
        left: 2vw;
        top: 5rem;
        align-items: end;
    }

    .hambt {
        display: none;
    }

    nav.header_nav {
        overflow: unset;
        border-top: unset;
        position: sticky;
        font-size: clamp(1.8rem, 1.15vw, 2.2rem);
        opacity: 1;
        top: 0;
        visibility: visible;
        justify-content: center;
        padding-block: unset;
        flex-direction: row;
        margin-inline: auto;
        left: 0;
        right: 0;
        padding: unset;
        height: 7rem;
        width: clamp(15rem, 80vw, var(--max-width));
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
        font-weight: 550;
        transform: unset;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    nav.header_nav > hr {
        height: 1.5rem;
        width: 0.1rem;
    }

    nav.header_nav.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .header_nav > a, .header_nav button {
        margin-inline: unset;
        background-color: transparent;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
    }

    .header_nav a {
        padding: clamp(0.75rem, 3vw, 1.4rem) clamp(0rem, 3vw, 3rem);
    }

    .header_nav button {
        padding: 0.75rem clamp(0rem, 3vw, 2.5rem);
    }

    .header_nav .contact_bt {
        margin-inline: unset;
        margin-top: unset;
        border-radius: 0;
        box-shadow: unset;
        border-radius: 5rem;
        height: fit-content;
        margin-left: 1.5rem;
        padding: 0.7rem 2.5rem;
        color: var(--secondary-3);
    }

    .header_nav .subnav a {
        transition: background-color 0.3s, transform 0.1s ease;
        -webkit-transition: background-color 0.3s, transform 0.1s ease;
        -moz-transition: background-color 0.3s, transform 0.1s ease;
        -ms-transition: background-color 0.3s, transform 0.1s ease;
        -o-transition: background-color 0.3s, transform 0.1s ease;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: 0rem 3rem 5rem 0rem rgb(248 248 255 / 50%);
    }

    .header_nav .subnav a:hover {
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transition: background-color 0.1s, transform 0.1s ease;
        -webkit-transition: background-color 0.1s, transform 0.1s ease;
        -moz-transition: background-color 0.1s, transform 0.1s ease;
        -ms-transition: background-color 0.1s, transform 0.1s ease;
        -o-transition: background-color 0.1s, transform 0.1s ease;
}
    
    nav a, nav button {
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    nav > a:hover, nav .superset > a:hover, nav button:hover {
        color: var(--secondary-2);
        transition: color 0s ease;
        -webkit-transition: color 0s ease;
        -moz-transition: color 0s ease;
        -ms-transition: color 0s ease;
        -o-transition: color 0s ease;
    }

    .superset {
        /* align-items: center; */
    }

    .subnav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateY(calc(100% - 1rem));
        -webkit-transform: translateY(calc(100% - 1rem));
        -moz-transform: translateY(calc(100% - 1rem));
        -ms-transform: translateY(calc(100% - 1rem));
        -o-transform: translateY(calc(100% - 1rem));
        padding-top: 1.5rem;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s;
        -webkit-transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s;
        -moz-transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s;
        -ms-transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s;
        -o-transition: transform 0.4s ease, opacity 0.2s ease, visibility 0.2s;
    }

    .superset:hover .subnav {
        opacity: 1;
        visibility: visible;
        transform: translateY(calc(100%));
        -webkit-transform: translateY(calc(100%));
        -moz-transform: translateY(calc(100%));
        -ms-transform: translateY(calc(100%));
        -o-transform: translateY(calc(100%));
        transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s;
        -webkit-transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s;
        -moz-transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s;
        -ms-transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s;
        -o-transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s;
    }
    
    .subnav .ctnr {
        flex-direction: row;
    }
    
    .header_nav .subnav a {
        flex: 1;
    }

    .header_nav .subnav a .text, .subnav a .learn_more {
        display: block;
    }
    
    .subnav a:not(:last-of-type) {
        
    }
    
        
}