.logo_anchor {
    position: absolute;
    /* width: 100%; */
    height: var(--header-height);
    color: var(--light);
    z-index: 7;
    left: var(--corner-width1);
    top: 4rem;
    display: flex;
    align-items: center;
    width: clamp(9rem, 21vmin, 11rem);
}

.logo_anchor.dark {
    color:var(--dark);
}

.logo_anchor.light {
    color:var(--light);
}

.logo_anchor svg {

}

header {
    position: fixed;
    width: var(--width-1);
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    left: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-1);
    padding: 4rem 2rem 3rem;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 5.2vw, 2.1rem);
    font-weight: 600;
    max-height: 70vh;
    overflow-y: auto;
    z-index: 9;
    color: var(--secondary-1);
    border-radius: clamp(2rem, 3vw, 5rem);
    border: 0.1rem solid var(--light-1);
    text-align: center;
}

header .contact_bt {
    width: fit-content;
    margin-inline: auto;
    background-color: var(--light);
    padding: 0.8rem 3rem;
    border-radius: 3rem;
    margin-top: 0.8rem;
    box-shadow: inset -1rem -1rem 1.5rem -1.2rem var(--secondary), inset 1rem 1rem 1.5rem -1.2rem var(--primary), 0 0rem 3.4rem -1.4rem var(--secondary-2);
    font-weight: 550;
    border: 0.1rem solid var(--light-1);
    position: sticky;
    bottom: 0;
}

header .contact_bt:hover {
    color: var(--secondary-3);
}

header a, header button {
    padding-block: 1.3rem;
    position: relative;
}

header a .worm {
    color: var(--secondary);
    width: clamp(2.2rem, 5vw, 2.8rem);
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    right: 0;
    margin-inline: auto;
}

header > hr {
    min-height: 0.1rem;
    width: 2rem;
    background-color: var(--c3);
}

nav.show {
    opacity: 1;
    visibility: visible;
}

.hambt {
    position: sticky;
    top: 1rem;
    right: var(--corner-width1);
    height: var(--header-height);
    z-index: 8;
    width: fit-content;
    margin-left: auto;
    display: block;
    margin-top: 1rem;
    color: var(--light);
    mix-blend-mode: difference;
    margin-bottom: calc((var(--header-height) + 1rem) * -1);
}

.hambt.active {
    color: var(--light);
}

header .hambt path {
    /* transition: stroke 0.2s ease;
    -webkit-transition: stroke 0.2s ease;
    -moz-transition: stroke 0.2s ease;
    -ms-transition: stroke 0.2s ease;
    -o-transition: stroke 0.2s ease; */
}

.hambt > .ctnr {
    width: clamp(2.5rem,8vw,4rem);
    height: clamp(2rem,7vw,3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.hambt svg {
    height: 3.5rem;
}

.superset {
    display: flex;
    flex-direction: column;
    padding-block: 1.3rem;
}

.subnav {
    width: clamp(10rem, 60vw, 30rem);
}

.subnav .ctnr {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2rem);
}

header .subnav a {
    text-align: left;
    padding: clamp(0.3rem, 1.5vw, 3rem) clamp(0.2rem, 6vw, 3rem) clamp(0.3rem, 1.5vw, 3rem) clamp(0.2rem, 6vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0.2rem, 4vw, 2rem);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 0.1rem solid var(--light);
}

header .subnav a > .flex {
    gap: clamp(0.2rem, 4vw, 2rem);
    flex-direction: column;
}

header .subnav a .flex .flex {
    gap: clamp(0.2rem, 4vw, 2rem);
    flex-flow: row wrap;
    justify-content: space-between;
}

header .subnav a .text {
    display: none;
    font-size: clamp(1rem, 3.5vw, 1.6rem);
    line-height: 1.4;
    font-weight: 400;
}

header .subnav a .text b, header .subnav a .text strong {
    font-weight: 600;
}

.subnav a .learn_more {
    display: none;
    font-size: clamp(1rem, 2vw, 1.6rem);
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--light);
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    color: var(--secondary-1);
    font-weight: 600;
    background-color: var(--light);
}

.subnav a .learn_more:hover {
    background-color: var(--light-1);
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
}

.superset .subnav a:not(:last-of-type) {
    border-bottom: 0.1rem solid var(--light);
}

.subnav a .content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    min-width: 12rem;
    justify-content: space-between;
    width: fit-content;
}

.subnav a svg {
    /* position: absolute; */
    width: clamp(4rem, 11vw, 7rem);
    height: clamp(4rem, 15vw, 7rem);
    box-sizing: border-box;
    /* border-radius: 0.7rem; */
}

.subnav a svg path {
    /* stroke: var(--secondary); */
    stroke-width: 0.1rem;
    animation-play-state: paused;
}

.subnav a:hover svg path {
    animation-play-state: running;
}

.subnav a .title {
    font-size: clamp(1.8rem, 7.5vw, 3.8rem);
    width: fit-content;
    position: relative;
}

.subnav a .title sup {
    display: block;
    position: relative;
    font-size: 0.5em;
    left: -5%;
    bottom: -8%;
    opacity: 0.4;
}

.subnav a .def {
    font-size: clamp(1.1rem, 3.5vw, 1.7rem);
    margin-bottom: 0.6rem;
    line-height: 1.25;
}









/* SERVICE STYLES */


.subnav a.psai_define_style {
    border-color: var(--secondary-1);
}

.subnav a.psai_define_style .title {
    font-weight: 400;
}

.subnav a.psai_define_style .text {
    
}

/* .subnav a.psai_define_style .def {
    color: var(--secondary);
} */

header .subnav a.psai_define_style .text b,
header .subnav a.psai_define_style .text strong {
    font-weight: inherit;
    color: var(--secondary);
}





















@media screen and (min-width: 1150px) {

    .logo_anchor {
        height: 6rem;
        position: absolute;
        width: 5vw;
        left: 2vw;
        top: 5rem;
        align-items: end;
    }

    .hambt {
        display: none;
    }

    body header {
        overflow: unset;
        border-top: unset;
        position: sticky;
        font-size: clamp(1.8rem, 1.15vw, 2.2rem);
        opacity: 1;
        top: 0;
        visibility: visible;
        justify-content: center;
        padding-block: unset;
        flex-direction: row;
        margin-inline: auto;
        left: 0;
        right: 0;
        padding: unset;
        height: 7rem;
        margin-bottom: -7rem;
        width: clamp(15rem, 80vw, var(--max-width));
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
        font-weight: 550;
        transform: unset;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        border: 0.2rem solid var(--light);
        border-top: 0;
    }

    header > hr {
        height: 1.5rem;
        width: 0.1rem;
    }

    header.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    header > a, header button {
        margin-inline: unset;
        background-color: transparent;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
    }

    header a {
        padding: clamp(0.75rem, 3vw, 1.4rem) clamp(0rem, 3vw, 2rem);
    }

    header button {
        padding: 0.75rem clamp(0rem, 3vw, 2.5rem);
    }

    header .contact_bt {
        margin-inline: unset;
        margin-top: unset;
        border-radius: 0;
        box-shadow: unset;
        border-radius: 5rem;
        height: fit-content;
        margin-left: 1.5rem;
        padding: 0.7rem 2.5rem;
    }

    header .subnav a {
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        box-shadow: 0rem 1.3rem 2rem -1.5rem rgb(248 248 255 / 60%);
               
}

    header .subnav a:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transition: transform 0.05s ease;
        -webkit-transition: transform 0.05s ease;
        -moz-transition: transform 0.05s ease;
        -ms-transition: transform 0.05s ease;
        -o-transition: transform 0.05s ease;
}
    nav > a span, nav .superset > a span {
        padding: 0.5rem 1rem;
        transition: background-color 0.6s ease;
        -webkit-transition: background-color 0.6s ease;
        -moz-transition: background-color 0.6s ease;
        -ms-transition: background-color 0.6s ease;
        -o-transition: background-color 0.6s ease;
        border-radius: 0.4rem;
        -webkit-border-radius: 0.4rem;
        -moz-border-radius: 0.4rem;
        -ms-border-radius: 0.4rem;
        -o-border-radius: 0.4rem;
}

    nav > a:hover span, nav .superset > a:hover span, .superset:hover > a {
        background-color:var(--light);
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
}

    .superset > a {
        transition: background-color 0.3s ease;
    }

    .superset {
        
    }

    .superset .subnav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        padding-top: 1.5rem;
        opacity: 0;
        visibility: hidden;
        transition-delay: 0.8s;
}

    .superset:hover .subnav {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.2s;
    }

    .transition_ctnr:nth-child(1) {
        transition-delay: 0.2s;
    }

    .transition_ctnr:nth-child(2) {
        transition-delay: 0.25s;
    }

    .transition_ctnr:nth-child(3) {
        transition-delay: 0.3s;
    }

    .transition_ctnr:nth-child(4) {
        transition-delay: 0.35s;
    }
    
    .subnav .ctnr {
        flex-direction: row;
        width: 80%;
        margin-inline: auto;
    }

    .transition_ctnr {
        display: flex;
        flex: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-0.8rem);
        -webkit-transform: translateY(-0.8rem);
        -moz-transform: translateY(-0.8rem);
        -ms-transform: translateY(-0.8rem);
        -o-transform: translateY(-0.8rem);
        transition: transform 0.4s ease, opacity 0.5s ease, visibility 0.5s;
        -webkit-transition: transform 0.4s ease, opacity 0.5s ease, visibility 0.5s;
        -moz-transition: transform 0.4s ease, opacity 0.5s ease, visibility 0.5s;
        -ms-transition: transform 0.4s ease, opacity 0.5s ease, visibility 0.5s;
        -o-transition: transform 0.4s ease, opacity 0.5s ease, visibility 0.5s;
}

    .superset:hover .transition_ctnr {
        opacity: 1;
        visibility: visible;
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
}
    
    header .subnav a {
    }

    header .subnav a .flex .flex {
        justify-content: unset;
    }

    header .subnav a .text, .subnav a .learn_more {
        display: block;
    }
    
    .subnav a:not(:last-of-type) {
        
    }
    
        
}