header {
    position: absolute;
    /* width: 100%; */
    height: var(--header-height);
    color: var(--light);
    z-index: 7;
    left: var(--corner-width1);
    top: 4rem;
    display: flex;
    align-items: center;
}

header .logo_anchor {
    display: block;
    width: clamp(9rem, 21vmin, 11rem);
}

header .logo_anchor svg {

}

.header_nav {
    position: fixed;
    width: var(--width-1);
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    left: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(214 219 255 / 85%);
    backdrop-filter: blur(0.8rem);
    padding: 4rem var(--corner-width1) 5rem;
    box-sizing: border-box;
    font-size: clamp(1.5rem, 4.8vw, 2.1rem);
    font-weight: 700;
    max-height: 75vh;
    overflow-y: auto;
    z-index: 9;
    color: var(--secondary-1);
    border-radius: clamp(2rem, 3vw, 5rem);
    border: 0.1rem solid var(--light-1);
    text-align: center;
}

.header_nav .contact_bt {
    width: fit-content;
    margin-inline: auto;
    background-color: var(--light);
    padding: 0.8rem 3rem;
    border-radius: 3rem;
    margin-top: 0.8rem;
    box-shadow: inset -1rem -1rem 1.5rem -1.2rem var(--secondary), inset 1rem 1rem 1.5rem -1.2rem var(--primary);
}

.header_nav a, .header_nav button {
    padding-block: 1.6rem;
}

nav.show {
    opacity: 1;
    visibility: visible;
}

.hambt {
    position: sticky;
    top: 1rem;
    right: var(--corner-width1);
    height: var(--header-height);
    z-index: 8;
    width: fit-content;
    margin-left: auto;
    display: block;
    margin-top: 1.5rem;
}

.hambt.active {
    color: var(--light);
}

header .hambt path {
    transition: stroke 0.2s ease;
    -webkit-transition: stroke 0.2s ease;
    -moz-transition: stroke 0.2s ease;
    -ms-transition: stroke 0.2s ease;
    -o-transition: stroke 0.2s ease;
}

.hambt > .ctnr {
    width: clamp(2.5rem,8vw,4rem);
    height: clamp(2rem,7vw,3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.hambt svg {
    height: 3.5rem;
}







@media screen and (min-width: 1150px) {

    header {
        height: 6rem;
        position: absolute;
        width: 5vw;
        left: 2vw;
        top: 5rem;
        align-items: end;
    }

    .hambt {
        display: none;
    }

    nav.header_nav {
        border-top: unset;
        position: sticky;
        font-size: clamp(1.8rem, 1.2vw, 2.2rem);
        opacity: 1;
        top: 0;
        visibility: visible;
        justify-content: center;
        padding-block: unset;
        flex-direction: row;
        align-items: end;
        margin-inline: auto;
        left: 0;
        right: 0;
        padding: unset;
        height: 6rem;
        align-items: center;
        width: var(--width-1);
        border-radius: 0 0 2rem 2rem;
        -webkit-border-radius: 0 0 2rem 2rem;
        -moz-border-radius: 0 0 2rem 2rem;
        -ms-border-radius: 0 0 2rem 2rem;
        -o-border-radius: 0 0 2rem 2rem;
        font-weight: 550;
        transform: unset;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    nav.header_nav.show {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .header_nav a, .header_nav button {
        padding: 0.75rem clamp(0rem, 3vw, 2.5rem);
        margin-inline: unset;
        background-color: transparent;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    .header_nav .contact_bt {
        margin-inline: unset;
        margin-top: unset;
        height: 100%;
        border-radius: 0;
        box-shadow: unset;
    }
    
    nav a, nav button {
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    nav a:hover, nav button:hover {
        color: var(--secondary-2);
        transition: color 0s ease;
        -webkit-transition: color 0s ease;
        -moz-transition: color 0s ease;
        -ms-transition: color 0s ease;
        -o-transition: color 0s ease;
    }
}