section.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 69vh;
    min-height: 69svh;
    position: relative;
    margin-block: 4vh clamp(4rem, 40vw, 22rem);
}

section {
    scroll-margin-top: calc(var(--header-height) + 3vmin);
}

p {
    line-height: 1.5;
}

section > .ctnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-inline: auto;
    gap: clamp(2rem, 6vmin, 3rem);
}

section + hr {
    margin: clamp(4rem, 40vw, 22rem) auto clamp(4rem, 40vw, 20rem);
    width: var(--width-1);
    height: 0.1rem;
    background-color: var(--light-1);
}

.intro .waves {
    width: clamp(10rem, 65vw, 80rem);
    position: absolute;
    transform: translateY(-50%);
}

.intro .waves svg {
}

.intro > .ctnr .logo {
    display: none;
}

.intro h1 {
    font-size: clamp(2rem, 9.1vmin, 6.5rem);
    font-weight: 700;
    text-align: center;
    line-height: 1.25;
    margin-inline: auto;
    width: clamp(1rem, 90vw, 105rem);
    user-select: none;
}

.intro h1 b, .intro h1 strong {
    font-weight: inherit;
    color: #604fcd;
    background-image: var(--highlight-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.intro h2 {
    font-size: clamp(1.6rem, 4.6vmin, 2.6rem);
    text-align: center;
    width: clamp(10rem, 75vw, 97rem);
    font-weight: 400;
    line-height: 1.5;
}

.intro h2 b, .intro h2 strong {
    font-weight: 600;
}

.intro .corner.graphic {
    display: none;
}

.intro .corner.graphic .pulse {
    transform-origin: top left;
}

.intro .cta_ctnr.flex {
    flex-flow: row wrap;
    gap: clamp(1rem, 5vw, 2rem);
    max-width: 88vw;
    justify-content: center;
}

@keyframes pulse_wave {
    0% {
        opacity:1;
        transform: scale3D(1, 1, 1);
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
    }   3% {
            opacity:1;
            transform: scale3D(1, 1, 1);
            -webkit-transform: scale3D(1, 1, 1);
            -moz-transform: scale3D(1, 1, 1);
            -ms-transform: scale3D(1, 1, 1);
            -o-transform: scale3D(1, 1, 1);
}   5% {
            opacity:0;
            transform: scale3D(1, 0.9, 1);
            -webkit-transform: scale3D(1, 0.9, 1);
            -moz-transform: scale3D(1, 0.9, 1);
            -ms-transform: scale3D(1, 0.9, 1);
            -o-transform: scale3D(1, 0.9, 1);
}   6% {
        opacity:0.3;
        transform: scale3D(1, 1.1, 1);
        -webkit-transform: scale3D(1, 1.1, 1);
        -moz-transform: scale3D(1, 1.1, 1);
        -ms-transform: scale3D(1, 1.1, 1);
        -o-transform: scale3D(1, 1.1, 1);
}   15% {
        opacity:1;
        transform: scale3D(1, 1, 1);
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
}   20% {
        opacity:1;
        transform: scale3D(1, 1, 1);
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
}  28% {
        opacity: 1;
        transform: scale3D(0.8, 1, 1);
        -webkit-transform: scale3D(0.8, 1, 1);
        -moz-transform: scale3D(0.8, 1, 1);
        -ms-transform: scale3D(0.8, 1, 1);
        -o-transform: scale3D(0.8, 1, 1);
}   35% {
    opacity: 1;
    transform: scale3D(1, 0.9, 1);
    -webkit-transform: scale3D(1, 0.9, 1);
    -moz-transform: scale3D(1, 0.9, 1);
    -ms-transform: scale3D(1, 0.9, 1);
    -o-transform: scale3D(1, 0.9, 1);
}   50% {
        opacity: 1;
        transform: scale3D(1, 1, 1);
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
}  80% {
        opacity: 1;
        transform: scale3D(1.05, 0.95, 1);
        -webkit-transform: scale3D(1.05, 0.95, 1);
        -moz-transform: scale3D(1.05, 0.95, 1);
        -ms-transform: scale3D(1.05, 0.95, 1);
        -o-transform: scale3D(1.05, 0.95, 1);
}   100% {
        opacity: 1;
        transform: scale3D(1, 1, 1);
        -webkit-transform: scale3D(1, 1, 1);
        -moz-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
        -o-transform: scale3D(1, 1, 1);
    }
}

.intro .waves .pulse {
    transform-origin: 60% 60%;
}

.graphic_cta .pulse {
    transform-origin: center;
}

#why-psai .g4 .pulse {
    transform-origin: 60% 70%;
}

#the-ai-challenge .corner.graphic {
    position: absolute;
    right: 0;
    width: clamp(1rem, 35vw, 30rem);
    z-index: -2;
    transform: translateY(calc(clamp(1rem, 30vw, 35rem) * -1));
    -webkit-transform: translateY(calc(clamp(1rem, 30vw, 35rem) * -1));
    -moz-transform: translateY(calc(clamp(1rem, 30vw, 35rem) * -1));
    -ms-transform: translateY(calc(clamp(1rem, 30vw, 35rem) * -1));
    -o-transform: translateY(calc(clamp(1rem, 30vw, 35rem) * -1));
}

#the-ai-challenge .corner.graphic .pulse {
    transform-origin: center right;
}






section.default1 {
    display: flex;
    flex-direction: column;
    width: var(--width-1);
    margin-inline: auto;
    gap: clamp(1rem, 5vw, 8rem);
    justify-content: center;
    /* align-items: center; */
}

section.default1 h2 {
    font-size: clamp(2rem, 11vw, 8rem);
    color: var(--secondary-1);
    font-weight: 650;
    line-height: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.8rem;
}

section.default1 h2 .worm {
    color: var(--light);
    width: 5rem;
    top: 120%;
}

section.default1 > .content {
    flex: 1;
    min-width: clamp(10rem, var(--pace), 40rem);
    max-width: clamp(10rem, var(--pace), 64rem);
}

section.default1 .content p {
    font-size: clamp(1.8rem, 5.3vw, 2.8rem);
    margin-top: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
}

section p b, section p strong {
    font-weight: 550;
    color: var(--secondary-1);
}

section.default1 p.minor {
    font-size: clamp(1.7rem, 3vw, 2.1rem);
    font-weight: 500;
    color: var(--secondary-1);
    line-height: 1.4;
}

section.default1 > .graphic {
    width: clamp(9rem, 55vmin, 38rem);
}

section .big.graphic .pulse {
    animation: pulse_wave 10s ease infinite;
    -webkit-animation: pulse_wave 10s ease infinite;
}

section.default1 .cta {
    margin-top: 2.5rem;
    width: fit-content;
}

.default1 .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.default1 .list li {
    position: relative;
    background-color: rgb(214 219 255 / 25%);
    padding: 3rem;
    box-sizing: border-box;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: 0.1rem solid transparent;
    transition: border-color 0.4s ease, background-color 0.4s ease;
    -webkit-transition: border-color 0.4s ease, background-color 0.4s ease;
    -moz-transition: border-color 0.4s ease, background-color 0.4s ease;
    -ms-transition: border-color 0.4s ease, background-color 0.4s ease;
    -o-transition: border-color 0.4s ease, background-color 0.4s ease;
}

.default1 .list li:hover {
    border-color: var(--light-1);
    background-color: rgb(214 219 255 / 50%);
    transition: border-color 0.1s ease, background-color 0.1s ease;
    -webkit-transition: border-color 0.1s ease, background-color 0.1s ease;
    -moz-transition: border-color 0.1s ease, background-color 0.1s ease;
    -ms-transition: border-color 0.1s ease, background-color 0.1s ease;
    -o-transition: border-color 0.1s ease, background-color 0.1s ease;
}

.default1 .list li h3 {
    font-weight: 650;
    font-size: clamp(1rem, 8vw, 2.6rem);
    line-height: 1;
    margin-bottom: 1rem;
    color: var(--secondary-1);
}

.default1 .list li h3 svg {
    color: var(--secondary-1);
    position: absolute;
    left: 0;
    transform: translate(-50%, 0%);
    width: 2.8rem;
    height: 2.8rem;
}

.default1 .list li p {
    font-size: clamp(0.7rem, 4vw, 1.8rem);
    line-height: 1.3;
    color: var(--secondary-1);
    font-weight: 500;
}

.default1 .list li b, .default1 .list li strong{
    font-weight: 650;
}

.g1 {
    width: clamp(10rem, 40vw, 25rem);
    position: absolute;
    left: 2rem;
    top: 0;
}









#the-team {
    position: relative;
}

#the-team .heading.graphic {
    position: absolute;
    width: clamp(1rem, 65vw, 50rem);
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#the-team .heading.graphic .pulse {
    transform-origin: 60% 30%;
}

section.default2 > .content {
    width: var(--width-1);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section.default2 h2  {
    font-size: clamp(2rem, 11vw, 8rem);
    color: var(--secondary-1);
    text-align: center;
}

section.default2 h2 + p  {
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    max-width: 90rem;
    text-align: center;
}

.team_ctnr {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(1rem, 6vw, 4rem);
    margin-block: 3rem;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.team_ctnr .profile {
    display: flex;
    flex-direction: column;
    min-width: clamp(10rem, var(--pace), 35rem);
    max-width: clamp(10rem, var(--pace), 38.1rem);
    flex: 1;
    background-color: rgb(214 219 255 / 25%);
    padding: clamp(1.5rem, 2vw, 2rem) clamp(1.5rem, 2vw, 2rem);
    box-sizing: border-box;
    height: fit-content;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: border-color 0.4s ease, transform 0.1s, background-color 0.4s ease, margin-bottom 0.5s 0.5s ease;
    -webkit-transition: border-color 0.4s ease, transform 0.1s, background-color 0.4s ease, margin-bottom 0.5s 0.5s ease;
    -moz-transition: border-color 0.4s ease, transform 0.1s, background-color 0.4s ease, margin-bottom 0.5s 0.5s ease;
    -ms-transition: border-color 0.4s ease, transform 0.1s, background-color 0.4s ease, margin-bottom 0.5s 0.5s ease;
    -o-transition: border-color 0.4s ease, transform 0.1s, background-color 0.4s ease, margin-bottom 0.5s 0.5s ease;
    border: 0.1rem solid transparent;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.team_ctnr .profile:hover {
    border-color: var(--light-1);
    background-color: rgb(214 219 255 / 50%);
    transition: border-color 0.1s ease, transform 0.2s ease, background-color 0.2s ease, margin-bottom 0s ease;
    -webkit-transition: border-color 0.1s ease, transform 0.2s ease, background-color 0.2s ease, margin-bottom 0s ease;
    -moz-transition: border-color 0.1s ease, transform 0.2s ease, background-color 0.2s ease, margin-bottom 0s ease;
    -ms-transition: border-color 0.1s ease, transform 0.2s ease, background-color 0.2s ease, margin-bottom 0s ease;
    -o-transition: border-color 0.1s ease, transform 0.2s ease, background-color 0.2s ease, margin-bottom 0s ease;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    background-color:var(--light-1);
}

.team_ctnr .profile .flex {
    gap: clamp(1rem, 6vw, 2rem);
    align-items: center;
    position: relative;
}

.team_ctnr .profile img {
    width: clamp(8rem, 23vmin, 11rem);
    background-color: var(--light-1);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.team_ctnr .profile .worm {
    color: var(--light);
    width: 5rem;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
}

.team_ctnr .profile .name {
    font-weight: 700;
    font-size: clamp(1rem, 6vw, 2.4rem);
    line-height: 1;
    margin-bottom: 0.4rem;
    user-select: none;
}

.team_ctnr .profile .role {
    font-size: clamp(1rem, 4vw, 1.7rem);
    line-height: 1.1;
    font-weight: 600;
    max-width: 22rem;
    color: var(--secondary-1);
    user-select: none;
}

.team_ctnr .profile .description {
    font-size: 1.6rem;
    font-weight: 500;
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.6s ease;
    -webkit-transition:max-height 0.6s ease;
    -moz-transition:max-height 0.6s ease;
    -ms-transition:max-height 0.6s ease;
    -o-transition:max-height 0.6s ease;
}

.team_ctnr .profile .description .ctnr {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 2rem 1rem 1rem;
}

.team_ctnr .profile:hover .description {
    max-height: 30rem;
}

.team_ctnr .profile .description p {
    line-height: 1.15;
}

.team_ctnr .profile .description b {
    font-weight: 700;
}

.team_ctnr .profile p {

}























@media screen and (min-width:850px) {

    section.intro {
        margin-top: 4rem;
    }

    .intro .waves {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
}

    .intro .logo {
        width: clamp(10rem, 45vw, var(--max-width));
    }

    /* .intro > .ctnr .logo {
        display: initial;
        width: 24rem;
    } */

    .intro h1 {
        z-index: 3;
        width: clamp(1rem, var(--pace), var(--max-width));
        font-size: clamp(3.3rem, 9.1vmin, 6.5rem);
    }

    .intro .corner.graphic {
        width: clamp(1rem, 19vw, 110rem);
        position: absolute;
        top: -12rem;
        left: 0;
        display: block;
    }

    section.default1 {
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }

    section.default1.bullets {
        align-items: flex-start;
    }

    section.default1 > .content {
        position: sticky;
        top: calc(var(--header-height) + 2rem);
    }

    #the-ai-challenge .corner.graphic {
        width: clamp(1rem, 20vw, 50rem);
    }

    section.default1.inverted {
        flex-flow: row-reverse wrap;
    }

    .pulse, section .big.graphic .pulse {
        animation: pulse_wave 10s ease infinite;
        -webkit-animation: pulse_wave 10s ease infinite;
}

    .team_ctnr {
        gap: 4rem;
    }

    .team_ctnr .profile {
        transition: border-color 0.4s ease, transform 0.8s 0.2s, margin-bottom 0.2s ease, background-color 0.4s ease;
        -webkit-transition: border-color 0.4s ease, transform 0.8s 0.2s, margin-bottom 0.2s ease, background-color 0.4s ease;
        -moz-transition: border-color 0.4s ease, transform 0.8s 0.2s, margin-bottom 0.2s ease, background-color 0.4s ease;
        -ms-transition: border-color 0.4s ease, transform 0.8s 0.2s, margin-bottom 0.2s ease, background-color 0.4s ease;
        -o-transition: border-color 0.4s ease, transform 0.8s 0.2s, margin-bottom 0.2s ease, background-color 0.4s ease;
}

    .team_ctnr .profile:hover {
        z-index: 8;
        margin-bottom: -15rem;
        transition: margin-bottom 0.2s 0.15s ease, transform 0.4s, background-color 0.2s ease;
        -webkit-transition: margin-bottom 0.2s 0.15s ease, transform 0.4s, background-color 0.2s ease;
        -moz-transition: margin-bottom 0.2s 0.15s ease, transform 0.4s, background-color 0.2s ease;
        -ms-transition: margin-bottom 0.2s 0.15s ease, transform 0.4s, background-color 0.2s ease;
        -o-transition: margin-bottom 0.2s 0.15s ease, transform 0.4s, background-color 0.2s ease;
}

    .team_ctnr .profile .description {
        transition:max-height 0.2s ease;
        -webkit-transition:max-height 0.2s ease;
        -moz-transition:max-height 0.2s ease;
        -ms-transition:max-height 0.2s ease;
        -o-transition:max-height 0.2s ease;
}

    .team_ctnr .profile:hover .description {
        max-height: 15rem;
        transition:max-height 0.8s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition:max-height 0.8s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition:max-height 0.8s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -ms-transition:max-height 0.8s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition:max-height 0.8s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
}