.stripe {
    background-color: var(--light);
    width: 100%;
    margin-inline: auto;
    position: relative;
    z-index: 8;
}

.stripe > .ctnr {
    height: 2.7rem;
    color: #968da4;
    font-size: clamp(1rem, 3vw, 1.35rem);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    align-items: center;
    width: clamp(15rem, 92vw, var(--max-width));
    margin-inline: auto;
}

.stripe a:hover {
    color: var(--secondary-2);
}

.stripe .inverted_corner {
    width: clamp(2rem, 3vw, 3rem);
    position: absolute;
    color: var(--light);
}

.stripe .inverted_corner:first-of-type {
    left:-1px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.stripe .inverted_corner:last-of-type {
    right:-1px;
}

.stripeheader .inverted_corner {
    top: 98%;
}

.stripe.footer .inverted_corner {
    bottom: 98%;
}

.stripeheader .inverted_corner:first-of-type {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.stripe.footer .inverted_corner:first-of-type {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.stripe.footer .inverted_corner:last-of-type {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.psai_group_nav .flex {
    flex-flow: row wrap;
    gap: 1rem;
}

.psai_group_nav .flex a {
    padding: 0.15rem 0.4rem;
    border-radius: 0.3rem;
    background-color: var(--light-1);
}















@media screen and (min-width:800px) {
    
    .psai_group_nav.mobile_hidden {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}