---
interface Props {
	title: string;
}

const { title } = Astro.props;

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import ContactBox from '../components/ContactBox.astro';
import Footer from '../components/Footer.astro';
import OQVABadge from '../components/OQVABadge.astro';
import MailBubble from '../components/MailBubble.astro';
---

<!doctype html>
<html lang="en">
	<BaseHead title={title}/>

	<body id="home">
		<Header/>

		<MailBubble/>

		<slot/>

		<ContactBox/>

		<Footer/>

		<!-- <OQVABadge/> -->
	</body>
</html>